<div class="row animate__animated animate__fadeIn" *ngIf="programa">
  <div class="col-md-6">
    <img
      class="img-thumbnail"
      [src]="programa.poster_path"
      [alt]="programa.title"
    />
  </div>
  <div class="col-md-6 mt-2">
    <h3>{{ programa.title }}</h3>

    <div class="row mt-3">
      <h3>Sinopsis:</h3>
      <div class="col text-white text-justify-content">
        {{ programa.original_title }}
      </div>
    </div>

    <div class="row mt-3">
      <div class="col mb-2">
        <button class="btn btn-outline-info float-right" (click)="regresar()">
          Regresar
        </button>
      </div>
    </div>
  </div>
</div>

